<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
<meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'restaurant/layout1.css' %}" type="text/css">
    {% include 'restaurant/snippets/header.html' %}
</head>
<body>
 <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="{% static 'restaurant/img/favicon.png' %}" alt="logo">Restaurant</a>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav">
                              
                           </ul>
                        </div>
                        
                        <div class="regerv_btn">
                           <a href="{% url 'restaurant:register' %}" class="btn_4">Register</a>
                        </div>
                       
                        <div class="regerv_btn">
                           <a href="{% url 'restaurant:contact' %}" class="btn_4">Contact</a>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>Expensive but the best</h5>
                            <h1>Deliciousness jumping into the mouth</h1>
                            <p>Together creeping heaven upon third dominion be upon won't darkness rule land
                                behold it created good saw after she'd Our set living. Signs midst dominion
                                creepeth morning</p>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="regervation_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="section_tittle">
                        <p>Login</p>
                        <h2> To Book A Table</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="regervation_part_iner">
					<div class="wrapper row2">
					<div id="container" class="clear">
						 <!--Slider -->
					<section id="slider" class="clear">
					  <figure>
						<figcaption>
						  <form action="{% url 'restaurant:login' %}" method="post">
							  {% csrf_token %}
							  <br />
							  <input name = "username" type="email" placeholder="Email address" required>
							  <br /><br/><br/>
							  <input name = "password" type="password" placeholder="Password" required>
							  <br /><br/><br/>
                              
							  <input type="submit" id = "sf_submit" value="Log In">
							  <br />
							  
                              <a id = "register" href="{% url 'restaurant:password_reset' %}">Forgot Password?</a>
                              <br />
                              
						  </form>
							{% if error_message %}<p id="error">{{ error_message }}</p> {% endif %}
							{% if info_message %}<p id="info">{{ info_message }}</p> {% endif %}
						</figcaption>
					  </figure>
					</section>
                    </div>
                    </div>      
                </div>
            </div>
        </div>
    </section>	
 {% include 'restaurant/snippets/footer.html' %}
</body>
</html>