<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load static %}
<link rel="stylesheet" href="{% static 'restaurant/layout1.css' %}" type="text/css">
    <script src="{% static 'restaurant/sorttable.js' %}"></script>
      {% include 'restaurant/snippets/header.html' %}
    
	
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <a class="wrapper row1"><img src="{% static 'restaurant/img/favicon.png' %}" alt="logo">Restaurant</a>
	  <h1>Welcome, {{ user.get_full_name }}</h1>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'restaurant:manager' manager.id %}">Home</a></li>
           <li><a href="{% url 'restaurant:profiling' manager.id %}">Profile</a></li>
        <li class="last"><a href="{% url 'restaurant:logout' %}">Log Out</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        <h1>{{ restaurant.name }}</h1>
        <h2>{{ restaurant.description }}</h2>
        <br />
        {% if restaurant.image != None%}
         <img src="{{ restaurant.image.url }}" alt="gayathri project" width="100%" height="auto">
        {% endif %}
        <!--{% if restaurant.image != None%}
        <h2>{{ restaurant.body }}</h2>
        {% endif %}-->
        <br />
        <h2>{{ restaurant.address }}</h2>
        <br />
        <br />
        <h3>Menu</h3>
        <br />
        <br />
        <table id="menus" class="sortable">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Delete Item</th>
                <th>Edit Item</th>
            </thead>
            {% for item in menu %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td id="price">{{ item.price }} </td>
                    <td><a href="{% url 'restaurant:remove' item.id restaurant.id manager.id %}"><button id="delete">Delete</button></a></td>
                    <td><a href="{% url 'restaurant:edit' item.id restaurant.id manager.id %}"><button id="edit">Edit</button></a></td>
                </tr>
            {% endfor %}
        </table>
        <br />
        <br />
        <br />
        <h3>Insert new Menu item</h3>
        <form action="{% url 'restaurant:insert' restaurant.id manager.id %}" method="post" class="menu_item">
              {% csrf_token %}
              <br />
              <input id = "name" name = "name" type="text" placeholder="Name" maxlength="100" required>
              <br />
              <textarea id = "description" name = "description" type="text" placeholder="Description" maxlength="200" required></textarea>
              <br />
              <input id = "price" name = "price" type="number" placeholder="Price" required step="0.01">
              <br />
              <input type="submit" id = "sf_submit" value="Insert">
              <br />
          </form>
    </section>
    <!-- / content body -->
  </div>
</div>

     {% include 'restaurant/snippets/footer.html' %}
</body>

</html>
